.header 
{
    padding: 20px 0;
}

.header__nav 
{
    padding: 20px 0;
    list-style: none;
}

.header__nav-item 
{
    font: 500 16px/1.25 Montserrat;
    margin-bottom: 10px;
}

.header__nav-button  
{
    width: 247px;
}

.button 
{
    background-color: #05090C;
    color: #fff;
    font: 600 16px/1.03 Montserrat;
    border-radius: 4.59px;
    cursor: pointer;
    padding: 19px 0;
    text-align: center;
}

.text_purple
{
    color: #E71096B2;
}

.content > * 
{
    margin-bottom: 10px;
}

.top__title 
{
    font: 600 100px/1.2 Montserrat;
}

.top__description 
{
    width: 545px;
    font: 400 26px/1.2 Roboto Condensed;       
}

.top__button 
{
    width: 332px;
}

.features 
{
    display: flex;
    margin: 0;
    background-color: #000;
}

.features__item
{
    width: 303px;   
}

.features__item:nth-child(2)
{
    width: 337px;
}

.features__text 
{
    text-align: center;
    font: 400 22px/26.4px Roboto Condensed;
    color: #fff;
}

.features__img
{
    display: block;
    margin: 0 auto;
}

.main-content__item_text-title
{
    font: 500 48px/1.26 Montserrat;
}

.main-content__item_text-description
{
    font: 400 18px/1.35 Roboto Condensed;
    width: 574px;
}

.opportunities__title
{
    font: 500 48px/59px Montserrat;
}

.opportunities__list
{
    list-style: none;
}

.opportunities__list__img
{
    display: block;
    padding: 32.36px 0 20.87px 40.15px;
}

.opportunities__list-item
{
    width: 358px;
    background-color: #000;
    border-radius: 7.35723px;
    margin-bottom: 10px;
    padding-bottom: 37.12px;
}

.opportunities__list_item-text
{
    font: 400 18px/21px Roboto Condensed;
    color: #fff;
    padding-left: 39px;
    padding-right: 48.98px;
}

.footer
{
    background-color: #000;
    margin: 0;
    padding: 35px;
}
